@use "helpers/variables" as v;
@use "helpers/colors" as c;
@use "helpers/mixins" as m;
@use "helpers/global-rules";
@use "helpers/components";
@use "layout/grid";

header {
  background-color: c.$clr-balckText;

  .content {
    position: relative;
    height: 60px;
    padding-inline: 15px;
    @include m.flex(space-between, center) {
      gap: 10px;
    }
    .logo {
      @media (min-width: 1071px) and (v.$max-large) {
        .logo-text {
          display: none;
        }
      }
    }
    nav {
      align-self: stretch;
      flex: 1;
      .links {
        height: 100%;
        @include m.flex(flex-end, stretch);
        // display: none;
        > li {
          &:not(.d-link) {
            position: relative;
            transition: background v.$transition, color v.$transition;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 4px;
              border-radius: 50px;
              background-color: c.$clr-secondry;
              transition: width v.$transition;
            }
            &:hover {
              color: c.$clr-secondry;
              &::after {
                width: 100%;
              }
            }
          }
          > a {
            height: 100%;
            @include m.flex(center, center);
            padding-inline: 1rem;
            color: c.$clr-whiteText;
          }
        }
        .d-link,
        .info {
          &:hover {
            > a {
              i {
                transform: rotate(0.5turn);
              }
            }
          }
          > a {
            gap: 10px;
            i {
              font-size: 12px;
              transition: transform v.$transition;
            }
          }
        }
        .d-link {
          > a {
            background-color: c.$clr-secondry;
            color: c.$clr-balckText;
            font-weight: 500;
            text-align: center;
          }
          ul.links-bar {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 25px);
            max-width: 100%;
            background-color: c.$clr-balckText;
            border-radius: 0 0 v.$rad v.$rad;
            display: grid;
            grid-template-columns: 600px 600px;
            opacity: 0;
            z-index: -50;
            transition: opacity v.$transition, transform v.$transition,
              box-shadow v.$transition;
            &:hover {
              box-shadow: 5px 0 0 c.$clr-primary, -5px 0 0 c.$clr-primary,
                5px 0 c.$clr-primary;
            }
            @media (max-width: 1216px) {
              grid-template-columns: 600px;
            }
            .sub-links {
              display: grid;
              grid-template-columns: auto auto;
            }
            h2 {
              padding: 2rem;
              position: relative;
              color: c.$clr-whiteText;
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: calc(100% - 4rem);
                height: 4px;
                background-color: c.$clr-whiteText;
                border-radius: 50%;
              }
            }
            a:not(.tobics) {
              @include m.flex(flex-start, center) {
                gap: 10px;
              }
              padding: 1rem 2rem;
              color: c.$clr-whiteText;
              transition: color v.$transition, transform v.$transition;
              &:hover {
                color: c.$clr-primary;
                transform: scale(1.1);
              }
              .icon {
                width: 30px;
                aspect-ratio: 1;
                @include m.flex(center, center);
                border: 1px solid;
                border-radius: 50%;
              }
            }
            .tobics {
              width: fit-content;
              margin: 2rem 0 2rem 2rem;
              font-weight: 700;
              font-size: 1.2rem;
              color: c.$clr-primary;
              &:hover {
                text-decoration: underline;
              }
              i {
                margin-left: 10px;
              }
            }
          }
          &:hover {
            .links-bar {
              opacity: 1;
              transform: translate(-50%, 0);
              z-index: 1;
            }
          }
        }
        .info {
          position: relative;
          &:hover {
            .info-links {
              opacity: 1;
              z-index: 501;
            }
          }
          .info-links {
            @include m.flex() {
              flex-direction: column;
              gap: 5px;
            }
            position: absolute;
            background-color: c.$clr-secondry;
            left: 0;
            top: calc(100% + 2px);
            border-radius: v.$rad;
            padding: 1rem;
            transition: opacity v.$transition;
            opacity: 0;
            z-index: -50;
            a {
              border-radius: 10px;
              color: c.$clr-balckText;
              padding: 0.25rem 0.5rem;
              min-width: 150px;
              transition: background v.$transition;
              &:hover {
                background-color: rgba(c.$clr-primary, 0.2);
              }
            }
          }
        }
      }
    }
    .sign-in {
      height: 38px;
      width: clamp(120px, 7.292vw, 140px);
      @include m.flex(center, center);
      color: c.$clr-whiteText;
      border: 2px solid;
      border-radius: 30px;
      transition: transform v.$transition;
      &:hover {
        transform: scale(1.05);
      }
    }
    > i {
      font-size: 1.3rem;
      cursor: pointer;
      margin-left: 1rem;
      color: c.$clr-whiteText;
      transition: color v.$transition, transform v.$transition;
      &:hover {
        color: c.$clr-primary;
        transform: scale(1.1);
      }
    }
    @media (v.$m1070) {
      flex-direction: row-reverse;
      .logo {
        order: 2;
      }
      nav {
        order: 1;
        flex-grow: 0;
        .links {
          display: none;
        }
        .burger-icon {
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          height: 100%;
          cursor: pointer;
          &:hover {
            .pink {
              width: 100%;
            }
          }
          span {
            width: 25px;
            height: 3px;
            background-color: c.$clr-whiteText;
            border-radius: 30px;
            &.pink {
              transition: width v.$transition;
              width: 15px;
              align-self: flex-end;
              background-color: c.$clr-primary;
            }
          }
        }
      }
      > i {
        order: 3;
        margin: 0;
      }
      .sign-in {
        display: none;
      }
    }
  }
}
.landing {
  min-height: calc(100vh - 60px);
  background-color: c.$clr-landingBackground;
  @include m.flex() {
    align-items: center;
  }
  .content {
    @extend %landing-grid;
    .text-box {
      h1 {
        color: c.$clr-whiteText;
        font-size: 4rem;
        line-height: 1.2;
        span {
          color: c.$clr-primary;
          font-style: italic;
        }
      }
      p {
        color: c.$clr-whiteText;
        margin-top: 1rem;
        line-height: 1.6;
        font-size: 1.25rem;
      }
      @media (v.$max-small) {
        h1 {
          font-size: 3rem;
          margin-top: 5rem;
        }
        p {
          font-size: 1rem;
        }
        .button {
          margin-inline: auto;
        }
      }
      @media (v.$min-small) and (v.$max-medium) {
        h1 {
          font-size: 3.5rem;
        }
      }
      @media (v.$min-medium) and (v.$max-large) {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
}
.used-tobics {
  background-color: c.$clr-landingBackground;
  padding-block: 2rem 5rem;
  .container {
    @include m.flex() {
      flex-direction: column;
      gap: 2rem;
    }
    > p {
      color: c.$clr-whiteText;
      font-size: 2rem;
      font-weight: 600;

      @media (max-width: 576px) {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .content {
      @include m.flex(center, center) {
        gap: 1rem;
        flex-wrap: wrap;
      }
      .box {
        width: 410px;
        padding: 1.5rem;
        color: c.$clr-whiteText;
        background-color: c.$clr-gray2-background;
        border-radius: v.$rad;
        cursor: pointer;
        transition: color v.$transition, background v.$transition;
        @include m.flex(space-between, center) {
          gap: 1rem;
        }
        section {
          @include m.flex(flex-start, center) {
            gap: 1.5rem;
          }
          .icon-1 {
            font-size: 2.5rem;
          }
        }
        &:hover {
          background-color: c.$clr-secondry;
          color: c.$clr-balckText;
        }
        @media (v.$max-medium) {
          flex-grow: 1;
        }
        @media (v.$max-small) {
          section {
            h2 {
              font-size: 1.2rem;
            }
            .icon-1 {
              font-size: 2rem;
            }
          }
        }
      }
    }
    > a {
      color: c.$clr-whiteText;
      font-weight: 700;
      width: fit-content;
      font-size: 1.3rem;
      align-self: center;
      i {
        margin-left: 10px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.features {
  padding-block: 5rem;
  background-color: c.$clr-whiteSection;
  overflow: hidden;
  > .container {
    .heading-text {
      text-align: center;
      @include m.flex(center, center, column) {
        gap: 1rem;
      }
      .text1 {
        font-size: 1.2rem;
        font-weight: 600;
      }
      span {
        font-size: 3.5rem;
        font-weight: 600;
      }
      .text2 {
        max-width: 300px;
      }
    }
    .content {
      padding-block: v.$section-padding 10rem;
      @media (max-width: 576px) {
        padding-block: v.$section-padding 6rem;
      }
      @include m.flex(center, stretch) {
        gap: 3rem 4.5rem;
        flex-wrap: wrap;
      }
      .box {
        padding: 1.5rem;
        background-color: c.$clr-whiteText;
        border-radius: v.$rad;
        transition: box-shadow 0.5s;
        box-shadow: 3px 3px 10px rgba(c.$clr-balckText, 0.2);
        &:hover {
          box-shadow: -6px -6px 10px rgba(c.$clr-primary, 0.2);
        }
        > a {
          font-size: 2rem;
          font-weight: 600;
          color: c.$clr-balckText;
          margin-bottom: 2rem;
          &:hover {
            text-decoration: underline;
          }
        }
        .text {
          margin-bottom: 2rem;
          p {
            font-size: 18px;
            margin-bottom: 10px;
          }
          a {
            color: c.$clr-balckText;
            font-weight: 600;
            i {
              margin-left: 10px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
        .image {
          img {
            max-height: 200px;
            margin-inline: auto;
          }
        }
      }
      .center {
        @media (min-width: 1400px) {
          position: relative;
          transform: translateY(3.5rem);
          z-index: 999;
          &::after {
            content: "";
            position: absolute;
            width: 120%;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid c.$clr-primary;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -999;
          }
        }
      }
    }
  }
  > .platform {
    .container {
      .content {
        @extend %platform-grid;
        .text-col {
          color: c.$clr-balckText;
          h1 {
            font-size: 3rem;
            margin-bottom: 5rem;
            font-weight: 600;
          }
          .text1 {
            font-size: 1.5rem;
            font-weight: 600;
            padding-left: 2rem;
            margin-bottom: 3rem;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 20px;
              height: 5px;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              background-color: c.$clr-secondry;
              border-radius: 30px;
            }
          }
          .text2 {
            padding-left: 2rem;
            font-size: 18px;
            line-height: 1.6;
          }
        }
        .image-col {
          position: relative;
          z-index: 10;
          &::after {
            content: "";
            position: absolute;
            width: 50%;
            aspect-ratio: 1;
            border-radius: 50%;
            right: 0;
            top: 0;
            transform: translate(25%, -25%);
            background-color: c.$clr-primary;
            z-index: -10;
          }
          @media (v.$max-medium) {
            margin-top: 5rem;
          }
        }
        .button {
          margin: 0 auto;
        }
        @media (v.$max-small) {
          .text-col {
            h1 {
              font-size: 1.8rem;
            }
            .text1 {
              font-size: 1.3rem;
            }
            .text2 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
.get-started {
  padding-block: 8rem 6rem;
  background-color: c.$clr-secondry;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 700px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: radial-gradient(
      rgba(c.$clr-primary, 0.6) 1%,
      transparent 70%
    );
    z-index: -1;
  }
  .container {
    .content {
      @include m.flex(center, center, column) {
        gap: 1rem;
      }
      span {
        font-size: 20px;
        font-weight: 600;
      }
      .heading {
        font-size: 5rem;
        font-weight: 600;
        @media (v.$max-small) {
          font-size: 2.5rem;
          text-align: center;
        }
        @media (v.$min-small) and (v.$max-medium) {
          font-size: 3.5rem;
        }
      }
      .text {
        max-width: 350px;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-top: 1rem;
        @media (v.$max-small) {
          font-size: 1rem;
        }
      }
      .button {
        background-color: c.$clr-primary;
        margin: 3rem auto 0;
        width: 220px;
        aspect-ratio: 4.5 / 1;
      }
    }
  }
}

.testi {
  color: c.$clr-whiteText;
  background-color: #18191d;
  padding-block: 6rem;
  .container {
    > .heading {
      padding-bottom: 4rem;
      @include m.flex(center, center, column) {
        gap: 1rem;
      }
      .text1 {
        font-weight: 500;
        font-size: 20px;
      }
      .users {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 600;
        span {
          color: c.$clr-primary;
        }
      }
      .text2 {
        max-width: 700px;
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
      }
    }
    .content1 {
      padding-bottom: 8rem;
      .cards {
        @extend %cards-grid;
        padding-bottom: 4rem;
        .card {
          background-color: c.$clr-grayBackground;
          padding: v.$padding v.$padding 6rem;
          border-radius: v.$rad;
          border: 1px solid rgba(c.$clr-whiteText, 0.2);
          .card-heading {
            @include m.flex(flex-start, center) {
              gap: 1.5rem;
              flex-wrap: wrap;
            }
            img {
              width: 80px;
            }
            padding-bottom: 3rem;
            .text {
              .name {
                font-size: 1.3rem;
                font-weight: 600;
              }
              .info {
                font-style: italic;
              }
            }
          }
          .review-text {
            img {
              margin-bottom: 1rem;
            }
            p {
              line-height: 1.6;
            }
          }
        }
      }
      > a {
        width: fit-content;
        margin-inline: auto;
        color: c.$clr-whiteText;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 5px;
        position: relative;
        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: c.$clr-whiteText;
          transition: opacity v.$transition;
          opacity: 0;
        }
        i {
          margin-left: 10px;
        }
      }
    }
    .content2 {
      @extend %content2-grid;
      .text-col {
        .heading {
          margin-bottom: 3rem;
          h2 {
            color: c.$clr-secondry;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
          }
          p {
            max-width: 350px;
            line-height: 1.6;
          }
        }
        ul {
          @include m.flex() {
            flex-direction: column;
            gap: 2.5rem;
          }
          li {
            position: relative;
            padding-left: 2.5rem;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 21px;
              transform: translateY(-50%);
              width: 12px;
              aspect-ratio: 1;
              border-radius: 50%;
              background-color: c.$clr-secondry;
            }
            h3 {
              font-size: 1.7rem;
              font-weight: 600;
              margin-bottom: 0.75rem;
            }
            p {
              max-width: 350px;
            }
          }
        }
        @media (v.$max-large) {
          .button {
            margin-inline: auto;
          }
        }
      }
      .image-col {
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          width: 400px;
          max-width: 100%;
          aspect-ratio: 1;
          border-radius: 50%;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-color: c.$clr-secondry;
          z-index: -1;
        }
      }
    }
  }
}
.uni {
  padding-block: 6rem;
  background-color: c.$clr-whiteSection;
  color: c.$clr-balckText;
  overflow: hidden;
  .container {
    .content {
      @include m.flex(flex-start, center) {
        gap: 2rem;
      }
      .col-1 {
        flex: 1 0 450px;
        padding: 3rem;
        h2 {
          font-size: 2.3rem;
          font-weight: 600;
          margin-bottom: 2.5rem;
        }
        p {
          font-size: 18px;
          line-height: 2;
        }
        .button {
          background-color: c.$clr-primary;
          margin-top: 2.5rem;
          width: 220px;
          aspect-ratio: 4.5 / 1;
        }
      }
      .col-2 {
        .cards {
          @include m.flex() {
            gap: 3rem;
          }
          .card {
            display: grid;
            flex: 1 0 400px;
            padding: 3.5rem;
            border-radius: 20px;
            background-color: c.$clr-whiteText;
            box-shadow: 5px 5px 10px rgba(c.$clr-balckText, 0.1);
            opacity: 0.5;
            &.active {
              opacity: 1;
              transform: scale(1.1);
            }
            .header-image {
              img {
                margin-bottom: 1rem;
              }
              &.rsu {
                img:first-child {
                  margin-bottom: 3rem;
                }
              }
            }
            .text {
              line-height: 2;
              font-size: 15px;
              max-width: 98%;
              margin-inline: auto;
            }
            .person {
              @include m.flex(flex-start, center) {
                gap: 1rem;
              }
              align-self: flex-end;
              margin-top: 3rem;
              .name {
                font-size: 18px;
                font-weight: 600;
              }
              .work {
                color: rgba(c.$clr-balckText, 0.7);
                margin-top: 5px;
              }
              .image {
                width: 75px;
                &.logo {
                  background-color: c.$clr-balckText;
                  aspect-ratio: 1;
                  @include m.flex(center, center);
                  border-radius: 50%;
                }
              }
            }
          }
        }
        .arrows {
          margin-top: 4rem;
          @include m.flex() {
            gap: 1rem;
          }
          .arrow {
            width: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: transparent;
            @include m.flex(center, center);
            color: c.$clr-balckText;
            border: 1px solid currentColor;
            cursor: pointer;
            transition: transform v.$transition, box-shadow v.$transition 0.1s;
            &:hover {
              transform: scale(1.1);
              box-shadow: 2px 2px 2px rgba(c.$clr-primary, 1);
            }
          }
          @media (v.$max-large) {
            display: none;
          }
        }
      }
      @media (v.$max-large) {
        flex-direction: column;
        .col-1 {
          flex: 1;
        }
        .col-2 {
          .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 3rem;
            .card {
              opacity: 1;
              &.active {
                transform: none;
              }
            }
          }
        }
      }
    }
  }
}
.sub {
  padding-top: 6rem;
  background-color: c.$clr-blackSection;
  color: c.$clr-whiteText;
  .container {
    .heading {
      margin-bottom: 3rem;
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .content1 {
      @extend %sujects-grid;
      padding-bottom: 6rem;
      .subs {
        @include m.flex() {
          flex-direction: column;
        }
        overflow: hidden;
        li {
          font-size: 1.8rem;
          font-weight: 600;
          padding: 1rem 0 1rem 2rem;
          color: rgba($color: c.$clr-whiteText, $alpha: 0.5);
          position: relative;
          cursor: pointer;
          transform-origin: left center;
          transition: transform v.$transition, color v.$transition;
          &:hover {
            transform: scale(1.5);
            color: c.$clr-whiteText;
            &::before {
              opacity: 1;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 5px;
            background-color: c.$clr-secondry;
            border-radius: 10px;
            transition: opacity v.$transition;
            opacity: 0;
          }
        }
      }
      .image {
        align-self: center;
      }
    }
    @media (v.$max-small) {
      .heading {
        h2 {
          font-size: 1.8rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .content1 {
        .subs {
          li {
            font-size: 1.4rem;
            &:hover {
              transform: scale(1.3);
            }
          }
        }
      }
    }
    .content2 {
      padding-block: 6rem 8rem;
      overflow: hidden;
      .content-heading {
        @include m.flex(center, center, column);

        span {
          font-weight: 600;
          font-size: 20px;
        }
        h2 {
          font-size: 4.5rem;
          letter-spacing: 2px;
          font-weight: 600;
        }
        @media (v.$min-small) and (v.$max-medium) {
          h2 {
            font-size: 3.5rem;
          }
        }
        @media (v.$max-small) {
          span {
            font-size: 18px;
          }
          h2 {
            font-size: 2.5rem;
            text-align: center;
          }
        }
      }
      .box {
        position: relative;
        margin-top: 3rem;
        @include m.flex(center, center, column);
        z-index: 1;
        p {
          max-width: 325px;
          text-align: center;
          font-size: 18px;
        }
        .button {
          margin-top: 2rem;
          background-color: c.$clr-primary;
          width: 220px;
          aspect-ratio: 4.5 / 1;
        }
        &::after {
          content: "";
          position: absolute;
          width: clamp(400px, 346.36363636px + 14.3030303vw, 518px);
          aspect-ratio: 1;
          left: 50%;
          top: -50px;
          transform: translateX(-50%);
          border-radius: 50%;
          border: 1px solid c.$clr-primary;
          z-index: -1;
        }
      }
    }
  }
}
footer {
  padding-block: 6rem 1.5rem;
  background-color: c.$clr-balckText;
  color: c.$clr-whiteText;
  a {
    &:not(.media) {
      color: c.$clr-whiteText;
      position: relative;
      padding-bottom: 2px;
      width: fit-content;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: currentColor;
        opacity: 0;
        transition: opacity v.$transition;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .section-1 {
    @extend %footer-grid;
    .social {
      .logo {
        flex-direction: column;
      }
      .social-box {
        @include m.flex(center, center) {
          gap: 10px;
        }
        margin-top: 1rem;
        .media {
          width: 30px;
          aspect-ratio: 1;
          font-size: 18px;
          @include m.flex(center, center);
          background-color: c.$clr-whiteText;
          border-radius: 50%;
          color: c.$clr-balckText;
          transition: background v.$transition, box-shadow v.$transition;
          &:hover {
            background-color: c.$clr-secondry;
            box-shadow: 4px 0 1px c.$clr-primary;
          }
        }
      }
    }
    .contact-info {
      @include m.flex() {
        flex-direction: column;
        gap: 1rem;
        @media (v.$max-large) {
          align-items: center;
          p {
            text-align: center;
          }
        }
      }
      h3 {
        @extend %footer-Sheading;
      }
    }
    .links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (v.$min-small) and (v.$max-large) {
        justify-items: center;
      }
      @media (v.$max-small) {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
      }
      li {
        @include m.flex() {
          flex-direction: column;
          gap: 1rem;
        }
        @media (v.$max-small) {
          align-items: center;
        }
        h3 {
          @extend %footer-Sheading;
        }
      }
    }
    @media (v.$max-large) {
      .social {
        order: 1;
      }
      .links {
        order: 2;
      }
      .contact-info {
        order: 3;
      }
    }
  }
  .section-2 {
    padding-top: 6rem;
    @include m.flex(center, center) {
      gap: 6rem;
    }
    .links {
      position: relative;
      @include m.flex(center, center) {
        gap: 3rem;
      }
      &::after {
        content: "";
        position: absolute;
        left: calc(100% + 3rem);
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        aspect-ratio: 1;
        background-color: c.$clr-whiteText;
        border-radius: 50%;
      }
    }
    @media (v.$max-large) {
      flex-direction: column;
      .links {
        flex-direction: column;
        gap: 1rem;
        &::after {
          display: none;
        }
      }
    }
  }
  @keyframes topBottom {
    0% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(3px);
    }
  }
  .creator {
    text-align: center;
    margin-top: 1rem;
    i {
      margin-inline: 10px;
      animation: topBottom 1.5s infinite ease-out alternate;
    }
    a {
      display: inline-block;
      span {
        &:first-of-type {
          font-size: 1.5rem;
          margin-inline: 8px 2px;
          color: c.$clr-secondry;
        }
        &:last-child {
          color: c.$clr-primary;
        }
      }
      &::after {
        background-image: linear-gradient(
          to right,
          c.$clr-primary 30%,
          c.$clr-secondry 70%
        );
      }
    }
  }
}
