$clr-primary: #FC63CC;
$clr-secondry: #F9CB7A;
$clr-blackSection: #16181E;
$clr-whiteSection: #EFF0F2;
$clr-landingBackground: #181A1E;
$clr-grayBackground:#26282C;
$clr-gray2-background: #464646;
$clr-balckText: #0c0d10;
$clr-whiteText: #fcfcfc;